<template>
  <div id="app">
    <div id="nav">
      <router-link v-bind:to="{ name: 'home' }">Home</router-link>

      <span v-if="$store.state.token != ''">
        &nbsp;|&nbsp;
        <router-link v-bind:to="{ name: 'upload' }">Upload</router-link>
      </span>

      <span v-if="$store.state.token != ''">
        &nbsp;|&nbsp;
        <router-link
          v-bind:to="{ name: 'logout' }"
          v-if="$store.state.token != ''"
          >Logout</router-link
        >
      </span>
    </div>
    <router-view />
  </div>
</template>
