<template>
  <!-- https://serversideup.net/uploading-files-vuejs-axios/ -->
  <div class="container">
    <p id="message">{{message}} </p>
    <div class="large-12 medium-12 small-12 cell">
      <label id="fileLabel"
        >File
        <input
          type="file"
          id="file"
          ref="file"
          v-on:change="handleFileUpload()"
        />
      </label>
      <p>{{file.name}} </p>
      <button v-on:click="submitFile()">Submit</button>
    </div>
  </div>
</template>

<script>
import fileService from '../services/FileService.js';
export default {
  data() {
    return {
      file: "",
      message: "",
    };
  },

  methods: {
    handleFileUpload() {
      //just one file
      this.file = this.$refs.file.files[0];
    },

    submitFile() {
      this.message = "";
      let formData = new FormData();
      formData.append("file", this.file);

      fileService
        .upload(formData)
        .then(function (response) {
          console.log("SUCCESS!!");
          console.log(response.data);
        })
        .catch(function (error) {
          console.log("FAILURE!!");
          console.log(error);
          //this.message = "Error: " + error;
        });
    },
  },
};
</script>

<style>
input[type="file"] {
  /* we don't want to use this part of the control, 
  so hide it out of the viewable area */ 
  position: absolute;
  top: -500px;
}

label#fileLabel {
border: 1px solid grey;
padding: 1px;
background-color: whitesmoke;
border-radius:3px;
}

label#fileLabel:hover, button:hover{
  cursor: pointer;
}
</style>


